<div class="container user-errors">
    <h2 class="h2 text-center">User Error List</h2>
    
    <div class="admin-console">
        <legend class="text-center text-light font-weight-bold mb-0 rounded"><i class="fas fa-users-cog"></i> Admin Platform</legend>
    </div>
    <div class="inner-userErrrors">
        {{#if isClearAll}}
            <form id="admin-clearAllUserLogs" action="/admin/clear-userError-logs" method="post"></form>
            <a id="clearErrors" class="mr-5 font-weight-bold" href="javascript:document.getElementById('admin-clearAllUserLogs').submit()" data-pjax="#pjax-container">clear all</a>
        {{/if}}

        <!-- each diff elements id with index for click delete!!!-->
        {{#each userErrorLogs}}
            <div>
                <form id="admin-removeLog{{@index}}" action="/admin/admin-removeUserErrorLog/{{@index}}" method="post"></form>
                <p class="text-left font-weight-bold">{{this.index}} {{this.row}} <a class="delete-row font-weight-bold" href="javascript:document.getElementById('admin-removeLog{{@index}}').submit()" data-pjax="#pjax-container">delete</a></p>
            </div>
        {{else}}
            <h5 class="text-center font-weight-bold text-danger my-5">No Server Errors!</h5>
        {{/each}}
    </div>
</div>