<div class="container-fluid authed">
    <h5 class="text-center font-weight-bold">This are top articles with highest likes!</h5>

    <section class="container-cards">
        {{#each secondArticles}}
            <div class="card card-image waves-effect waves-light"
            style="background-image: url({{imageUrl}});">

                <!-- Content -->
                <div class="content text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div class="d-block mx-auto">
                        <h5 class="text-primary"><i class="fas fa-chart-pie"></i> {{category.name}}</h5>
                        <h3 class="card-title pt-2"><strong>{{title}}</strong></h3>
                        <p>published by <strong>{{creator.email}}</strong>, {{date}}</p>
                        <p>Like: {{isLike}}</p>
                        <p>UnLike: {{isUnLike}}</p>
                        <a class="reading-more" href="/article/article-details/{{_id}}" data-pjax="#pjax-container"><i class="fas fa-clone left"></i> Read More</a>
                    </div>
                </div>

            </div>
        {{/each}}
    </section>
</div>