<div class="container-fluid authed">
    <h5 class="text-center font-weight-bold">This are top articles with highest likes!</h5>

    <section class="container-cards">
        {{#each secondArticles}}
            <div class="card card-image waves-effect waves-light"
            style="background-image: url({{imageUrl}});">

                <!-- Content -->
                <div class="content text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div class="d-block mx-auto">
                        <h5 class="grey-text font-weight-bold"><i class="fas fa-chart-pie"></i> {{category.name}}</h5>
                        <h3 class="card-title pt-2 blue-text"> <strong class="font-weight-bold">{{title}}</strong></h3>
                        <p class="grey-text">published by <strong class="font-italic text-light">{{creator.email}}</strong></p>
                        <p class="grey-text">created by: <span class="font-italic text-light">{{date}}</span></p>
                        <p class="grey-text"><i class="fas fa-thumbs-up"></i> Like: <span class="text-light">{{isLike}}</span></p>
                        <p class="grey-text"><i class="fas fa-thumbs-down"></i> UnLike: <span class="text-light">{{isUnLike}}</span></p>
                        <a class="reading-more" href="/article/article-details/{{_id}}" data-pjax="#pjax-container"><i class="fas fa-clone left"></i> Read More</a>
                    </div>
                </div>

            </div>
        {{/each}}
    </section>
</div>