<div class="container article-all">
    <div class="article-list">
        {{#each articles}}
            <div class="card">
                <h4 class="text-right">{{this.categoryName}}</h4>
                <h3 class="card-header">{{this._doc.title}}</h3>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted text-right">Date: {{this.date}}</h6>
                </div>
                <img style="height: 400px; width: 100%; display: block;"
                    src="{{this._doc.imageUrl}}"
                    alt="Card image">
                <div class="card-body">
                    <p>{{this.intro}}</p>
                </div>
                <span class=""><a href="/article/article-details/{{this._doc._id}}" class="read-more" data-pjax="#pjax-container">Read More</a></span>
            </div>
        {{else}}
            <div class="container-fluid py-5 empty-container">
				<h3 class="text-center font-weight-bold mt-5 pt-5">No matches!</h3>
                <h3 class="text-center font-weight-bold mb-5 pb-5">Please try again!</h3>
            </div>
        {{/each}}
    </div>
</div>