<div class="table-responsive">
    <h2 class="h2">Your Messages</h2>

    <table class="table">
        <thead class="light-blue darken-3 white-text">
        <tr class="">
            <th scope="col">#</th>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-center">Sender</th>
            <th scope="col" class="text-center">Read</th>
            <th scope="col" class="text-center">Content</th>
            <th scope="col" class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
            {{#each myMessages}}
                {{> before-delete-message}}
                <tr>
                    <th scope="row" class="text-dark font-weight-bold">{{index}}</th>
                    <td class="text-center font-weight-bold text-dark">{{date}}</td>
                    <td class="text-center text-dark"><span class="font-weight-bold font-italic">{{senderEmail}}</span></td>
                    <td class="text-center"><a href="/message/message-reading/{{_id}}" class="nav-link font-weight-bold text-secondary">{{isRead}}</a></td>
                    <td class="text-center"><a class="nav-link text-info font-weight-bold font-italic" data-toggle="popover" data-placement="top" title="Message"
                    data-content="{{this.content}}">Reading</a></td>
                    <td class="text-center">
                        <a class="nav-link font-weight-bold btn-delete font-italic" data-toggle="modal" data-target="#modalConfirmDelete{{index}}">Delete</a>
                    </td>
                </tr>
            {{else}}
                 <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td class="h6 text-center text-dark">No Messages!</td>
                    <td></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>